{% extends 'base.html.twig' %}
{% block body_content %}
<div role="main" class="main mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col">
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Short Title</th>
                            <th>Amazon Link</th>
                            <th>Description</th>
                            <th>Affiliate Link</th>
                            <th>Cheers Link</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td data-label="#">{{ product.id }}</td>
                            <td data-label="Title">{{ product.title }}</td>
                            <td data-label="Short-Title">{{ product.shortTitle }}</td>
                            <td data-label="Amazon Link"><a href="{{ product.amazonLink }}">{{ product.shortTitle }}</a></td>
                            <td data-label="Description">{{ product.description|truncate(100, true) }}</td>
                            <td data-label="Affiliate Link"><a href="{{ product.affiliateLink }}">{{ product.affiliateLink }}</a></td>
                            <td data-label="Cheers Link"><a href="{{ product.cheersLink }}">{% if product.cheersLink %}CheersLink{% endif %}</a></td>
                            <td data-label="Image"><img src="{{ product.image }}" style="width: 100px; height: 100px"/></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
