<html>
<head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-133006262-1');
    </script>
    <meta name="description" content="CheersBrosnan">
    <meta property="og:type" content="article" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta property="og:title" content="{{ shortTitle }}" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ affiliateLink }}" />
    <meta property="og:image" content="{{ imageLink }}" />
    <meta http-equiv="refresh" content="0; URL={{ affiliateLink }}">

    <title>{{ shortTitle }}</title>
</head>
<body></body>
</html>