<div class="masonry-item no-default-style col-md-4">
    <article class="post post-medium border-0 pb-0 mb-5">
        <div class="post-image">
            <a href="{{ product.affiliateLink }}">
                <img src="{{ product.image }}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="{{ product.shortTitle }}" />
            </a>
        </div>

        <div class="post-content">
            <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="{{ product.affiliateLink }}">{{ product.shortTitle }}</a></h2>
            <p>{{ product.description|truncate(100, true) }}</p>
        </div>

        <div class="post-meta">
            {#<i class="far fa-heart">Teilen</i>#}
            <a class="btn btn-danger likeProductBtn" href="{{ path('changeHeartCount') }}" data-productId="{{ product.id }}">
                <i class="far fa-heart heartIcon"></i><span class="likeCount">{{ product.likes }}</span><span> likes</span>
            </a>
            <a target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=600,width=500,resizable=no')" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcheersbrosnan.com%2Fp%2F{{ product.cheersLink[28:] }}&amp;src=sdkpreparse"
               class="btn btn-info shareIcon fb-xfbml-parse-ignore"><i class="fa fa-share"></i></a>
            {#<button type="button" data-productId="{{ product.id }}" href="{{ path('changeHeartCount') }}" class="likeProductBtn btn btn-outline-danger">#}
            {#<div class="fb-like" data-href="https://cheersbrosnan.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>#}
        </div>

    </article>
</div>