<html>
<head>
    <meta name="description" content="CheersBrosnan">
    <meta property="og:type" content="article" />

<meta property="og:title" content="{{ shortTitle }}" />
<meta property="og:description" content="{{ description }}"/>
<meta property="og:url" content="{{ affiliateLink }}" />
<meta property="og:image" content="{{ imageLink }}" />
<meta http-equiv="refresh" content="0; URL={{ affiliateLink }}">
</head>
<body></body>
</html>