<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html itemscope itemtype="http://schema.org/Article" lang="de">
    <head>
        <title>Lustige Geschenke, verrücktes Shopping, das sind wir bei CheersBrosnan</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133006262-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-133006262-1');
        </script>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

        <!-- Basic -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-language" content="de">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Lustige Geschenkideen und Gadgets">
        <meta itemprop="description" content="Feiern, trinken und verrücktes Shoppen! Ich habe die Top-Shopping Tips, Geschenke und Gadgets für euch Lauchs!!111 Subskrebieren, die Betonung liegt auf Bieren.">
        <meta itemprop="image" content="https://cheersbrosnan.com/images/cheersBrosnan.png">
        <meta itemprop="author" content="Norman Dilthey">
        <meta itemprop="headline" content="Lustige Geschenkideen und Gadgets">

        <meta name="keywords" content="Geschenkideen Lustige Produkte Gadgets Shopping" />
        <meta name="description" content="Feiern, trinken und verrücktes Shoppen! Ich habe die Top-Shopping Tips, Geschenke und Gadgets für euch Lauchs!!111 Subskrebieren, die Betonung liegt auf Bieren.">
        <meta name="author" content="Norman Dilthey">
        <meta name="publisher" content="Norman Dilthey">

        <!-- SEO -->
        <meta property="og:title" content="Lustige Geschenkideen und Gadgets" />
        <meta property="og:locale" content="de_DE" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="Feiern, trinken und verrücktes Shoppen! Ich habe die Top-Shopping Tips, Geschenke und Gadgets für euch Lauchs!!111 Subskrebieren, die Betonung liegt auf Bieren." />
        <meta property="og:image" content="https://cheersbrosnan.com/images/cheersBrosnan.png" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="600">
        <meta property="og:image:alt" content="CheersBrosnan">
        <meta property="og:url" content="http://cheersbrosnan.com" />
        <meta property="og:site_name" content="CheersBrosnan" />

        <!-- Facebook -->
        <meta property="fb:app_id" content="320982792006389" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cheersBrosnan">
        <meta name="twitter:title" content="Lustige Geschenkideen und Gadgets">
        <meta name="twitter:description" content="Feiern, trinken und verrücktes Shoppen! Ich habe die Top-Shopping Tips, Geschenke und Gadgets für euch Lauchs!!111 Subskrebieren, die Betonung liegt auf Bieren.">
        <meta name="twitter:creator" content="@cheersBrosnan">
        <meta name="twitter:image" content="https://cheersbrosnan.com/images/cheersBrosnan.png">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="https://cheersbrosnan.com/images/cheersBrosnan_twitter_large.jpeg">

        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('images/favicons/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('images/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('images/favicons/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}
            <!-- Web Fonts  -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

            <!-- Vendor CSS -->
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/animate/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/simple-line-icons/css/simple-line-icons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/owl.carousel/assets/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/owl.carousel/assets/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.min.css') }}">

            <!-- Theme CSS -->
            <link rel="stylesheet" href="{{  asset('css/theme.css') }}">
            <link rel="stylesheet" href="{{  asset('css/theme-elements.css') }}">
            <link rel="stylesheet" href="{{  asset('css/theme-blog.css') }}">
            <link rel="stylesheet" href="{{  asset('css/theme-shop.css') }}">

            <!-- Current Page CSS -->
            <link rel="stylesheet" href="{{ asset('vendor/rs-plugin/css/settings.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/rs-plugin/css/layers.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/rs-plugin/css/navigation.css') }}">

            <!-- Skin CSS -->
            <link rel="stylesheet" href="{{  asset('css/skins/skin-corporate-7.css') }}">

            <!-- Theme Custom CSS -->
            <link rel="stylesheet" href="{{  asset('css/custom.css') }}">
        {% endblock %}

    </head>
    <body>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '320982792006389',
                xfbml      : true,
                version    : 'v3.2'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {#<div class="fb-share-button" data-href="http://cheersbrosnan.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcheersbrosnan.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Teilen</a></div>#}
        <header id="header" class="header-transparent header-transparent-dark-bottom-border header-transparent-dark-bottom-border-1 header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 20, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0 bg-dark box-shadow-none">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="{{ path('home') }}">
                                        <img alt="CheersBrosnan" width="60" height="60" src="{{ asset('images/cheersBrosnan.png') }}">
                                    </a>
                                </div>

                                <div class="header-row justify-content-end">
                                    <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean order-1 order-lg-3 ml-2 pl-1">
                                        <li class="social-icons-facebook"><a href="https://www.facebook.com/cheersbrosnan" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="social-icons-twitter"><a href="https://twitter.com/CheersBrosnan" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li class="social-icons-instagram"><a href="https://www.instagram.com/cheersbrosnan/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="container py-4">
                {% block body_content %}
                <div class="row justify-content-center mt-4">
                    {#<img id="pageHeaderImage" src="{{ asset('images/main_background.jpg') }}">#}
                    <div class="col-12 col-sm-auto mt-5">
                        <div class="row justify-content-center mt-5">
                            <span class="d-block font-weight-light negative-ls-1 text-5 ml-2 mb-1 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" style="animation-delay: 100ms;">
                                <em class="opacity-8">Hello I bims!</em>
                            </span>
                        </div>
                        <div class="row justify-content-center">
                            <h1 class="font-weight-extra-bold text-color-dark negative-ls-3 text-10 mb-2 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                                <em>CHEERS BROSNAN</em>
                            </h1>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-6 col-sm-8 text-center">
                                <p class="lead lead-2 mb-5 appear-animation animated fadeInUp appear-animation-visible mt-3"
                                   data-appear-animation="fadeInUp"
                                   data-appear-animation-delay="600"
                                   style="animation-delay: 600ms;"
                                >
                                    Feiern, trinken und verrücktes Shoppen! Ich habe die Top-Shopping Tips für euch Lauchs!!111
                                    Subskrebieren, die Betonung liegt auf Bieren.
                                </p>
                                {#<form action="#" method="POST"#}
                                      {#class="whatsappSignUpForm mw-100 appear-animation animated fadeInUp appear-animation-visible"#}
                                      {#data-appear-animation="fadeInUp"#}
                                      {#data-appear-animation-delay="1200"#}
                                      {#style="animation-delay: 1200ms;">#}
                                    <div class="col-12 text-center appear-animation animated fadeInUp appear-animation-visible" id="signUpBtns"
                                            data-appear-animation="fadeInUp"
                                            data-appear-animation-delay="1200"
                                            style="animation-delay: 1200ms;">
                                        {#<input class="whatsappInput btn btn-outline btn-info font-weight-semibold text-2 px-4 py-3 mb-4 box-shadow-2"#}
                                               {#placeholder="+49 deine whatsapp"/>#}
                                        {#<button class="whatsappSignUpBtn btn btn-primary  btn-xl font-weight-semibold text-2 px-5 py-3 mb-4 box-shadow-2"#}
                                                {#href="#"#}
                                                {#type="submit">SIGN UP NOW <i class="fas fa-arrow-right ml-1"></i></button>#}
                                        <a class="btn btn-primary  btn-xl font-weight-semibold text-2 px-5 py-3 mb-4 box-shadow-2"
                                           href="https://api.whatsapp.com/send?phone=491747339143&text=Hey%20Bro!%20Sende%20diese%20Nachricht%20und%20speichere%20unsere%20Nummer%20in%20deinen%20Kontakten%2C%20um%20unseren%20WhatsApp%20Service%20zu%20abonnieren!"
                                           onClick="ga('send', 'event', 'whatsapp', 'signUp', 'WaSignUpClick');">

                                            Whatsapp Signup <i class="fas fa-arrow-right ml-1"></i>
                                        </a>
                                    </div>
                                {#</form>#}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="fb-share-button"
                         data-href="https://cheersbrosnan.com/p/2AD5jyD.html"
                         data-layout="button_count"
                         data-size="small"
                         data-mobile-iframe="true">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcheersbrosnan.com%2Fp%2F2AD5jyD.html&amp;src=sdkpreparse"
                           class="fb-xfbml-parse-ignore">Teilen</a></div>
                <div class="row mt-5" id="productsContentWrapper">
                    <div class="col">
                        <div class="blog-posts">
                            <div class="masonry-loader masonry-loader-showing mb-5" id="mainProductList">
                                <div class="masonry row" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
                                    {% for product in products %}
                                        <div class="masonry-item no-default-style col-md-4">
                                            <article class="post post-medium border-0 pb-0 mb-5">
                                                <div class="post-image">
                                                    <a href="{{ product.affiliateLink }}">
                                                        <img src="{{ product.image }}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="{{ product.shortTitle }}" />
                                                    </a>
                                                </div>

                                                <div class="post-content">
                                                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="{{ product.affiliateLink }}">{{ product.shortTitle }}</a></h2>
                                                    <p>{{ product.description|truncate(100, true) }} </p>

                                                    <div class="post-meta">
                                                        {#<i class="far fa-heart">Teilen</i>#}
                                                        <a class="btn btn-danger likeProductBtn" href="{{ path('changeHeartCount') }}" data-productId="{{ product.id }}">
                                                            <i class="far fa-heart heartIcon"></i><span  class="likeCount">{{ product.likes }}</span><span> likes</span>
                                                        </a>
                                                        <a target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=600,width=500,resizable=no')" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcheersbrosnan.com%2Fp%2F{{ product.cheersLink[28:] }}&amp;src=sdkpreparse"
                                                           class="btn btn-info shareIcon fb-xfbml-parse-ignore"><i class="fa fa-share"></i></a>
                                                        {#<button type="button" data-productId="{{ product.id }}" href="{{ path('changeHeartCount') }}" class="likeProductBtn btn btn-outline-danger">#}
                                                        {#<div class="fb-like" data-href="https://cheersbrosnan.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>#}
                                                    </div>


                                                </div>
                                            </article>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>
                            <div class="row justify-content-center loadMoreProductsWrapper col-12 text-center" >
                                <button class="loadMoreProductsBtn btn btn-outline-info btn-xl font-weight-semibold text-2 px-5 py-3 mb-4 box-shadow-2">Hey Bro, mehr bitte</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock body_content %}
            </div>
            <footer id="footer" class="mt-0">
                <div class="container my-4">
                    <div class="row py-5">
                        <div class="col-lg-4">
                            <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Whatsapp service</h5>
                            <p class="text-4 mb-1">Du willst immer den neuesten Shit bekommen?</p>
                            <p class="text-4">Melde dich für den Whatsapp Service an :)</p>
                            <div class="alert alert-success d-none" id="newsletterSuccess">
                                <strong>Success!</strong> Wir haben die in unseren elitären Kreis aufgenommen.
                            </div>
                            <div class="alert alert-danger d-none" id="newsletterError"></div>
                            <form id="newsletterForm" action="#" method="POST" class="mw-100 mb-5">
                                <div class="input-group input-group-rounded">
                                    <input id="signUpInputFooter" class="form-control form-control-sm bg-light px-4 text-3" placeholder="+49 deine Whatsapp ..." name="newsletterEmail" id="newsletterEmail" type="text">
                                    <span class="input-group-append">
										<button id="signUpBtnFooter" class="btn btn-primary text-color-light text-2 py-3 px-4" type="submit">LET'S GO!</button>
									</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright footer-copyright-style-2">
                    <div class="container py-2">
                        <div class="row py-4">
                            <div class="col-8 d-flex align-items-start justify-content-start mb-4 mb-lg-0">
                                © Copyright 2019.
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                                <a href="{{ path('datenschutz') }}">Datenschutz</a>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                                <a href="{{ path('impressum') }}">Impressum</a>
                            </div>
                        </div>
                        <div class="row py-2 justify-content-start">
                            <div class="col-12 d-flex align-items-start mb-4 mb-lg-0">
                                <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
        {% block body %}{% endblock %}
        <script src="{{ asset('vendor/modernizr/modernizr.min.js') }}"></script>
        <!-- Vendor -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.appear/jquery.appear.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.easing/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.cookie/jquery.cookie.min.js') }}"></script>
        <script src="{{ asset('vendor/popper/umd/popper.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/common/common.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.validation/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.gmap/jquery.gmap.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.lazyload/jquery.lazyload.min.js') }}"></script>
        <script src="{{ asset('vendor/isotope/jquery.isotope.min.js') }}"></script>
        <script src="{{ asset('vendor/owl.carousel/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('vendor/vide/jquery.vide.min.js') }}"></script>
        <script src="{{ asset('vendor/vivus/vivus.min.js') }}"></script>

        <!-- Current Page Vendor and Views -->
        <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
        <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="{{ asset('js/theme.js') }}"></script>

        <!-- Theme Custom -->
        <script src="{{ asset('js/custom.js') }}"></script>

        <!-- Theme Initialization Files -->
        <script src="{{ asset('js/theme.init.js') }}"></script>

        {% block javascripts %}

        {% endblock %}
    </body>

</html>
